.profile {
    margin: 0 auto;
    font-size: 16px;
    border: 1.5px solid var(--black);
    border-radius: 9px;
    max-width: 300px;
    margin-bottom: 24px;
}

.profile_info_section {
    background-color: var(--light-grey);
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile_photo {
    border-radius: 50%;
    margin: 0 auto 12px auto;
    width: 100px;
    background-color: var(--dark-grey);
}

.profile_name {
    font-weight: 700;
    margin-bottom: 12px;
}

.profile_tag {
    margin-bottom: 4px;
}

.profile_tag,
.profile_location {
    color: var(--grey);
}

.profile_list {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile_list_item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--middle-grey);
    border: 1.5px solid var(--grey);
    border-left: none;
    border-bottom: none;
}

.profile_list_item:first-child {
    border-left: none;
    border-bottom-left-radius: 8px;
}

.profile_list_item:last-child {
    border-right: none;
    border-bottom-right-radius: 8px;
}

.stats_number {
    font-weight: 700;
}